<h1><%= @movie.title %></h1>

<p>
  <strong>Description:</strong>
  <%= @movie.description %>
</p>
<p>
  <strong>Director: </strong>
  <%= @movie.director %>
</p>
<p>
  <strong>Movie length (mins):</strong>
  <%= @movie.movie_length %>
</p>
<p>
  <strong>Rating: </strong>
  <%= @movie.rating %>
</p>

<div>
  <%= link_to "Edit", edit_movie_path(@movie), class: 'btn btn-primary' %>
  <%= link_to "Delete", @recipe, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
</div>
<br>
<div>
  <%= link_to "Back", movies_path, class: 'btn btn-default' %>
</div>

