<h1><%= @movie.title %></h1>

<p>
  <strong>Description:</strong>
  <%= @movie.description %>
</p>
<p>
  <strong>Director: </strong>
  <%= @movie.director %>
</p>
<p>
  <strong>Movie length (mins):</strong>
  <%= @movie.movie_length %>
</p>
<p>
  <strong>Rating: </strong>
  <%= @movie.rating %>
</p>

<% if user_signed_in? && (@movie.user == current_user) %>
  <div>
    <%= link_to "Edit", edit_movie_path(@movie), class: 'btn btn-primary' %>
    <%= link_to "Delete", @recipe, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  </div>
<% end %>

<br>
<div>
  <%= link_to "Log out", destroy_user_session_path, method: :delete, class: 'btn btn-warning' %>
</div>
<br>
<div>
  <%= link_to "Back", movies_path, class: 'btn btn-default' %>
</div>

